{% extends "layout.html" %}
{% set go_display = "display_a_question" %}
{% if answer == None %}
    {% set id = comment["question_id"] %}
{% else %}
    {% set id = answer["question_id"] %}
{% endif %}
{% set back_icon = "back_to_index.png" %}
{% set left_icon = "edit_comment.png" %}

{% block content %}

    <div class="form-box">

        <div class="form-header">
            <h2>Edit comment</h2>
        </div>

        <form action="{{ url_for("edit_comment_post", comment_id=comment["id"]) }}" method="post">

            <div class="input-box">
                <label for="message">Message comment:</label><br>
                <textarea class="textarea-field" name="message" id="message" minlength="1" maxlength="1500" required>{{ comment["message"]}}</textarea>
            </div>

            <div class="submit-button" >
                <button type="submit" >Edit comment</button>
            </div>

        </form>

    </div>

{% endblock %}